a:hover{
    text-decoration: none;
}

.bg-roxo{
    background-color: #7E459B;
}

nav a:hover{
    font-weight: 500 !important;
}

.imagem-carrosel{
    height: 65vh;
    object-fit: cover;
    object-position: 0 40%;
}

.redes-sociais span{
    color: black;
    margin-bottom: 3px;
}

.redes-sociais i{
 color: #7E459B;
 font-size: 1.2rem;
}

.redes-sociais span:hover{
    color:#7E459B;
    font-weight: 500;
}

.habilidades{
    background-color: #7E459B;
}

.habilidades i{
    font-size: 1.8rem;
}

/* h3, p{
    color:white;
}
.habilidades h3{
    color: white;
} */

.container-habilidades{
    max-width: 500vw;
    max-height: 500vh;
}



.tamanho-card{
    width: 18rem;
}

.imagem-cards{
    object-fit: cover;
    object-position: top;
    height: 40vh;

}

.btn-card-modal{
    color: white;
    background-color: #7E459B;
    border-color: #7E459B;
}

.img-ajuste{
    width: 100%;
}
